cython
dask
dask-jobqueue
datasets
gensim
geopandas
graphviz
h5py
imageio
imbalanced-learn
ipywidgets
jupyterlab
jupyterlab-git
jupytext
librosa
lmdb
lxml
matplotlib
mlflow
mysql-connector-python
netcdf4
nltk
numba
numpy<1.23
odfpy
opencv-python
openpyxl
packaging
pandas
pillow
protobuf<4
pycodestyle
pydot
pyflakes
pykeops
pyparsing
pyprojroot
pytest
pytorch-lightning
pyyaml
rasterio
ray[tune]
regex
requests
scikit-image
scikit-learn
scipy
seaborn
setuptools
tables
tensorboard
tensorboardx
torch-tb-profiler
tqdm
transformers
triton
umap-learn
visdom
xgboost
xlwt
