scikit-learn
scikit-image
scipy
jupyterlab
pandas
tqdm
pycodestyle==2.7.0
pyflakes==2.3.0
seaborn
requests
pillow
h5py
graphviz
matplotlib
nltk
spyder
pytest
cython
gensim
xlwt
openpyxl
pydot
dask
pyyaml
xgboost
tables
netcdf4
imbalanced-learn
lmdb
mysql-connector-python
lxml
openpyxl
regex
umap-learn
tensorboard
tensorboardx
imageio
# fastai
geopandas
rasterio
dask-jobqueue
librosa
visdom
odfpy
transformers
pytorch-forecasting
pytorch-lightning
pyprojroot
