tensorflow==2.4.1
scikit-learn
scikit-image
scipy
jupyterlab
pandas
tqdm
seaborn
requests
pillow
h5py==2.10.0
decorator==4.4.2
setuptools==56.0.0
pyflakes==2.3.1
pycodestyle==2.7.0
graphviz
matplotlib
nltk
spyder
pytest
cython
gensim
xlwt
openpyxl
pydot
dask
pyyaml
xgboost
tables
netcdf4
imbalanced-learn
lmdb
mysql-connector-python
lxml
openpyxl
regex
umap-learn
tensorboard
imageio
geopandas
rasterio
dask-jobqueue
odfpy
transformers
xlrd
