accelerate
cython
dask
dask-jobqueue
datasets
evaluate
gensim
geopandas
graphviz
h5py
imageio
imbalanced-learn
ipywidgets
jupyter-server
jupyterlab
jupyterlab-git
jupytext
librosa
lmdb
lxml
matplotlib
mlflow
mysql-connector-python
nbclassic
netcdf4
nltk
numba
numpy
odfpy
opencv-python
openpyxl
packaging
pandas
pillow
protobuf<4
pycodestyle
pydot
pyflakes
pykeops
pyparsing
pyprojroot
pyyaml
rasterio
ray[tune,train,data,serve]>=2.7
regex
requests
scikit-image
scikit-learn
scipy
seaborn
setuptools
tables
tensorboard
tensorboardx
timm
torch-tb-profiler
tqdm
transformers
triton
umap-learn
visdom
xgboost
xlwt
gym
python-swiftclient
python-keystoneclient
papermill
lightning
gpytorch
portalocker
keras>=3.0
keras-cv
pysqlite3
peft
trl
lit
cmake<4.0.0
sentencepiece
diffusers
torch_geometric
fvcore
iopath
pytest
notebook
mpi4py
torchinfo
bitsandbytes
xformers
psutil
wandb
litgpt[all]
torchgeo
