tensorflow==2.9.1
scikit-learn
scikit-image
scipy
jupyterlab
jupyterlab-git
jupytext
pandas
tqdm
seaborn
requests
pillow
h5py
click
jinja2
markupsafe
decorator
setuptools
pyflakes
pycodestyle
graphviz
matplotlib
nltk
spyder
pytest
cython
gensim
xlwt
openpyxl
pydot
dask
pyyaml
xgboost
tables
netcdf4
imbalanced-learn
lmdb
mysql-connector-python
lxml
openpyxl
regex
umap-learn
tensorboard
tensorboard_plugin_profile
torch_tb_profiler
imageio
geopandas
rasterio
dask-jobqueue
odfpy
transformers
xlrd
resampy
soundfile
ray[tune]
hyperopt
bayesian-optimization
hpbandster
tensorflow_decision_forests
verta
