stestr
cmake
conan<2.0.0
scikit-build
asv
cvxpy
pylint
black[jupyter]
clang-format
Sphinx
jupyter-sphinx
reno
ddt
matplotlib
seaborn
qiskit_sphinx_theme
sphinx-design
nbsphinx
qiskit_qasm3_import
qiskit
numpy
pip==22.3.1
